<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
      <div class="carousel-caption carousel-button">
        <button class="btn btn-success start-lesson-btn btn-lg"><%= t "start_lesson" %></button>
      </div>
    <div class="item active">
      <img src="assets/image1.jpg" class="carousel-image">
    </div>
    
    <div class="item">
      <img src="assets/image2.jpg" class="carousel-image">
    </div>

    <div class="item">
      <img src="assets/image3.jpg" class="carousel-image">
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only"><%= t "previous" %></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only"><%= t "previous" %></span>
  </a>
</div>
