<%= form_for @result, html: {id: 1} do %>
  <%= hidden_field :user_lesson_id, value: params[:id] %>
  <%= hidden_field :vocabulary_id, value: answer.vocabulary.id %>
  <label class="check-box-container"><%= answer.content %>
    <input type="checkbox" class="checkbox">
    <span class="checkmark"></span>
  </label>
<% end %>
