@import 'bootstrap-sprockets';
@import 'bootstrap';

html, #page {
  padding:0;
  margin:0;
}

body {
  margin:0;
  padding:0;
  width:100%;
  color:#959595;
  font:normal 12px/2.0em Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
  color:darkgreen;
}

#page {
  background:#fff;
}
#header, #footer, #top-nav, #content, #content #contentbar, #content #sidebar {
  margin:0;
  padding:0;
}

/* Logo */
#logo {
  padding-bottom:0px;
  width:auto;
  float:left;
}

#logo h1 a, h1 a:hover {
  color:darkgreen;
  text-decoration:none;
}

#logo h1 span {
  color:#BCCE98;
}

/* Header */
#header {
  background:#fff;
}

#header-inner {
  margin:0 auto;
  padding:0;
  width:970px;
}

/* Feature */
.feature {
  background:green;
  padding:18px;
}

.feature-inner {
  margin:auto;
  width:970px;
}

.feature-inner h1 {
  color:#DAE9BC;
  font-size:32px;
}

/* Menu */
#top-nav {
  margin:0 auto;
  padding-top:10px;
  height:37px;
  float:right;
}

#top-nav ul {
  list-style:none;
  padding:0; height:37px;
  float:left;
}

#top-nav ul li { margin:0;
  padding:0 0 0 8px;
  float:left;
}

#top-nav ul li a {
  display:block;
  margin:0;
  text-decoration:none;
  margin-top:10px;
}

#top-nav ul li.active a, #top-nav ul li a:hover {
  color:#BCCE98;
}

/* Content */
#content-inner {
  margin:0 auto;
  padding:10px 0;
  width:970px;
  background:#fff;
}

#content #contentbar {
  margin:0;
  padding:0;
  float:right;
  width:760px;
}

#content #contentbar .article {
  margin:0 0 24px;
  padding:0 20px 0 15px;
}

#content #sidebar {
  padding:0;
  float:left;
  width:200px;
}

#content #sidebar .widget {
  margin:0 0 12px;
  padding:8px 8px 8px 13px;
  line-height:1.4em;
}

#content #sidebar .widget h3 a {
  text-decoration:none;
}

#content #sidebar .widget ul {
  margin:0;
  padding:0;
  list-style:none;
  color:#959595;
}

#content #sidebar .widget ul li {
  margin:0;
}

#content #sidebar .widget ul li {
  padding:4px 0;
  width:185px;
}

#content #sidebar .widget ul li a {
  color:green;
  text-decoration:none;
  margin-left:-16px;
  padding:4px 8px 4px 16px;
}

#content #sidebar .widget ul li a:hover {
  color:#BCCE98;
  font-weight:bold;
  text-decoration:none;
}

/* Footerblurb */
#footerblurb {
  background:#DAE9BC;
  color:green;
}

#footerblurb-inner {
  margin:0 auto;
  width:922px;
  padding:24px;
}

#footerblurb .column {
  margin: 20px 80px;
  text-align:justify;
  float:left;width:250px;
  padding:0 24px;
}

/* Footer */
#footer {
  background:#fff;
}
#footer-inner {
  margin:auto;
  text-align:center;
  padding:12px;
  width:922px;
}

#footer a {
  color:green;
  text-decoration:none;
}

/* Clear both sides to assist with div alignment  */
.clr {
  clear:both;
  padding:0; margin:0;
  width:100%;
  font-size:0px;
  line-height:0px;
}

.carousel-image {
  width:100%;
  height:600px;
}
.carousel-button {
  top:45% !important;
}

.sign_up_button {
  margin-top: 10px;
}

.modal-body {
  height: 500px;
}

.submit-btn {
  float: right;
  margin-top: 10px;
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.modal-body-title {
  text-align: center;
  color: #3498DB;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  margin-top: 10px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.course-image {
  margin: 0;
  width:100%;
}

.course-description {
  margin-top: 30px;
}

.left-side {
  float: left;
}

.other-courses {
  padding: 0;
}

.other-courses-image {
  height: 80px;
  padding: 2px;
}

.other-courses-description {
  padding: 0;
}

.word-list {
  padding: 70px;
  margin-left: 100px;
  font-weight: 300;
  list-style: decimal;
}

.vocabulary {
  color: #22558a;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3.2em;
  margin-top: 90px;
  z-index: 1;
  position: relative;
}

.vocabulary-description {
  display: block;
  color: #666;
  font-size: 1.6em;
  font-family: 'Courier New', Courier, monospace;
}

.vocabulary-example {
  color: #666;
  font-size: 1em;
  font-style: italic;
}

.start-lesson-btn {
  margin-top: 50px;
}

.log-out-btn {
  margin-top: 20px;
  padding: 0;
}

.wrong-answer {
  color: red;
}

.correct-answer {
  color: blue;
}

#paginator {
  width:30%;
}

.next-button {
  margin-top: 90px;
}

.save-btn {
  margin-top:5px;
}

.word-selects {
  margin-bottom: 10px;
}

.word-list-btn {
  font-size: 14px;
  font-weight: bold;
}

.user {
  margin-top: 30px;
}
.user_avatar {
  width: 100px;
  height: 100px;
  float: left;
  border-radius: 50%;
}

.user_info {
  height: 100px;
}

.avatar {
  width: 100%;
  height: 100%;
}
.user_name {
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 25px;
  color: #4000ff;
}

.user_email {
  margin-top: 3px;
  margin-left: 10px;
  font-weight: bold;
}

.passed_status {
  color: blue;
}

.failed_status {
  color: red;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom:
1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;

  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

.container-fluid {
  padding-left : 0;
}

.admin-table {
  margin-top: 100px;
  border: solid 1px;
}

.show_content {
  float: right;
}

.create-btn {
  float: right;
  margin-top: 10px;
}

.edit-icon {
  color:blue;
  font-size: 20px; 
  cursor: pointer;
}

delete-icon {
  color: red;
}

.lesson-name {
  font-weight: bold;
}

.category {
  color: white;
}

.admin-form {
  margin-bottom: 20px;
}

.log-out-row {
  color: white;
  font-size: 15px;
}
