<div class="nav-side-menu col-md-2">
  <div class="brand" style="height: 52px;"><%= link_to t("fast_king"), admin_lessons_path %></div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
      <ul id="menu-content" class="menu-content collapse out">
        <a href="<%= admin_lessons_path %>" style="color:white"><li><i class="fa fa-calendar-check-o fa-lg"></i> Lessons Management</li></a>
      </ul>
    </div>
</div>
